.page-grid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--gutter), 1fr)
    [wide-start] minmax(0, calc((var(--width-wide) - var(--width-content)) / 2))
    [content-start] min(var(--width-content), 100% - 2 * var(--gutter))
    [content-end] minmax(
      0,
      calc((var(--width-wide) - var(--width-content)) / 2)
    )
    [wide-end] minmax(var(--gutter), 1fr)
    [full-end];
}

.page-grid > * {
  grid-column: content;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s) var(--space-l);
}
